<div class="instruction">
	<div ng-show="grails[0]">Please Select One</div>
	<div ng-show="winner">Today's Quest</div>
</div>
<div class="list" ng-show="grails[0]">
	<ul class="list-container">
		<li ng-repeat="grail in grails[0]" class="list-item">
			<a href="javascript:;" ng-click="pickGrail(grail._id)">{{grail.name}}</a>
		</li>
	</ul>
</div>
<p ng-show="!grails[0] && !winner" class="waiting">
	Please wait while your fellow heros complete their selections!
</p>
<div ng-show="winner" class="waiting">
	<div class="winner">{{winner.name}}</div>
</div>