<div ng-hide="creating">
  <h1>Quests</h1>
  <p>Open Quests:</p>
  <p ng-show="!quests.length">No Quests Found</p>
  <ul>
      <li ng-repeat="quest in quests"><a ng-href="#/quest/{{quest._id}}">{{quest.name}}</a></li>
  </ul>
  <p>
  	<a href ng-click="creating=true">Create a Quest</a>
  </p>
</div>

<div ng-show="creating">
	<form ng-submit="createQuest()">
		<label for="questName">Name</label>
		<input type="text" id="questName" ng-model="questName">
		<button type="submit">Create</button>
	</form>
</div>
