<div>
  <div class="instruction">
    <span ng-if="!quests">Loading...</span>
    <span ng-if="quests.length>0">Select a Quest</span>
    <span ng-if="quests.length==0">There Are No Active Quests</span>
  </div>
  <div class="list">
    <ul class="list-container">
      <li ng-repeat="quest in quests" class="list-item"><a ng-href="#/quest/{{quest._id}}"><span class="count">{{quest.heros.length}}</span>{{quest.name}}</a>

      </li>
      <li class="list-item" ng-if="list.creating==true">
        <div class="input-container">
          <input type="text" id="questName" ng-model="quest.name" placeholder="Quest Name" ng-focus="list.creating==true" ng-focus-lost="createQuest()" ng-keypress="onKeyPress($event)">
        </div>
      </li>
      <li class="list-item list-item-action" ng-if="!list.creating">
        <a href ng-click="list.creating=true">Create a Quest</a>
      </li>
    </ul>
  </div>
</div>