<div>
  <div class="instruction">Select a Quest</div>
  <div class="list">
    <ul class="list-container">
      <li ng-repeat="quest in quests" class="list-item"><a ng-href="#/quest/{{quest._id}}">{{quest.name}}</a></li>
      <li class="list-item" ng-if="list.creating==true">
        <div class="input-container">
        <form ng-submit="createQuest()">
          <input type="text" id="questName" ng-model="quest.name">
          <button type="submit">Create</button>
        </form>
        </div>
      </li>
      <li class="list-item list-item-action" ng-if="!list.creating">
        <a href ng-click="list.creating=true">Create a Quest</a>
      </li>
    </ul>
  </div>
</div>